body::before {
  background:
    linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.20) 50%),
    linear-gradient(90deg, rgba(255, 0, 0, 0.016), rgba(0, 255, 0, 0.008), rgba(0, 0, 255, 0.016));
  background-size: 100% 4px, 6px 100%;
}

a,
a:visited,
a:hover,
a:active {
  color: #89dda1 !important;
  -webkit-text-stroke: 0.5px #000;
  text-shadow: none !important;
}

.side1 a,
.side1 a:visited,
.side1 a:hover,
.side1 a:active {
  color: #89dda1 !important;
  -webkit-text-stroke: 0;
  text-shadow: 3px 3px 0 #51815d !important;
}

.header,
h1 {
  text-shadow: 3px 3px 0 #51815d !important;
}
